:root {
  --distancia: 3%;
}
.App {
  background-image: url('./images/fundo.jpg');
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
}
.pergunta{
  color: white;
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 17%;
  position: absolute;
  background: rgb(7, 88, 41);
  top: 0;
}
.cedulas{
  width: 100%;
  height: 10%;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nota{
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.514);
  top:70%;
  position: absolute;
  scale: 0.9;
  height: 160px;
  width: 90px;
  margin: 12px;
  transition: all ease 0.2s;
}

img[name= '2']{
  left: 23%;
}
img[name= '5']{
  left: 32%;
}
img[name= '10']{
  left: 42%;
}
img[name= '20']{
  left: 51%;
}
img[name= '50']{
  left: 60%;
}
img[name= '100']{
  left: 69%;
}
.nota:hover{
  cursor: pointer;
  scale: 1;
}
.espaco_notas{
  width: 100%;
  height: 80%;
  display: flex;
}
@media screen and (max-width:900px) {
  .nota{
    height: 121px;
    width: 61px;
  }
  img[name= '2'] {
    left: 3%;
  }
  img[name= '5'] {
    left: 18%;
  }
  img[name= '10'] {
    left: 33%;
  }
  img[name= '20'] {
    left: 48%;
  }
  img[name= '50'] {
    left: 63%;
  }
  img[name= '100'] {
    left: 78%;
  }
}