:root {
  --distancia: 3%;
}
@font-face {
  font-family: Digial;
  src: url('./font/Calculator.ttf');
}
.App {
  background-image: url('./images/fundo.jpg');
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
}
.pergunta{
  color: white;
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 17%;
  position: absolute;
  background: rgb(37, 37, 37);
  top: 0;
}
.questao{
  display: flex;
  flex-direction: column;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}
.cronometro{
  font-family: Digital;
  text-align: center;
  width: 100%;
}
.cedulas{
  width: 100%;
  height: 10%;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nota{
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.514);
  top:70%;
  position: absolute;
  scale: 0.9;
  height: 160px;
  width: 90px;
  margin: 12px;
  transition: all ease 0.2s;
}

img[name= '2']{
  left: 23%;
}
img[name= '5']{
  left: 32%;
}
img[name= '10']{
  left: 42%;
}
img[name= '20']{
  left: 51%;
}
img[name= '50']{
  left: 60%;
}
img[name= '100']{
  left: 69%;
}
.nota:hover{
  cursor: pointer;
  scale: 1;
}
.espaco_notas{
  width: 100%;
  height: 80%;
  display: flex;
}
#troco{
  animation-name: brilhar;
  animation-duration: 0.8s;
}
.troco{
  font-family: Digial;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  width: 10%;
  left: 0;
  top: 0;
}
.troco.errado{
  color: rgb(253, 0, 0);
}
.troco.certo{
  color: rgb(0, 146, 32);
}
.popup-certo, .popup-errado{
  z-index: 90;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.517);
}
.popup-certo.show, .popup-errado.show{
  display: flex;
}
.popup-certo .modal, .popup-errado .modal{
  animation-name: aparecer;
  animation-duration: 0.2s;
  font-size: 30px;
  transition: all ease 0.2s;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 600px;
  height: 350px;
  box-shadow: 3px 3px  22px rgba(0, 0, 0, 0.986);
}
.popup-certo .modal img, .popup-errado .modal img{
  width: 140px;
}
.popup-certo .modal button{
  font-size: 30px;
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 12px;
  background: rgb(2, 105, 2);
  color: white;
  transition: all ease 0.1s;
}
.popup-errado .modal button{
  font-size: 30px;
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 12px;
  background: rgb(175, 9, 9);
  color: white;
  transition: all ease 0.1s;  
}
.popup-certo .modal button:hover{
  cursor: pointer;
  background: white;
  color: rgb(2, 105, 2);
  border: 3px solid rgb(2, 105, 2);
}
.popup-errado .modal button:hover{
  cursor: pointer;
  background: white;
  color: rgb(175, 9, 9);
  border: 3px solid rgb(175, 9, 9);
}
@keyframes brilhar {
  to{
    color:black;
    box-shadow: 0px 0px 19px rgba(255, 255, 255, 0) ;
  }
  from{
    color:black;
    background: wheat;
    box-shadow: 0px 0px 69px rgba(255, 255, 255, 0.685) ;
  }

}
@keyframes aparecer {
  from{
    opacity: 0;
    scale: 0;
  }
  to{
    opacity: 1;
    scale: 1;
  }
}
@media screen and (max-width:900px) {
  .nota{
    height: 121px;
    width: 61px;
  }
  img[name= '2'] {
    left: 3%;
  }
  img[name= '5'] {
    left: 18%;
  }
  img[name= '10'] {
    left: 33%;
  }
  img[name= '20'] {
    left: 48%;
  }
  img[name= '50'] {
    left: 63%;
  }
  img[name= '100'] {
    left: 78%;
  }
  .questao{
    width:80%;
  }
  .troco{
    font-size: 20px;
    width:20%;
  }
}