:root {
  --distancia: 3%;
}
.App {
  background: url('./images/fundo.jpg');
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
}
.pergunta{
  width: 100%;
  height: 10%;
  position: absolute;
  background: black;
  top: 0;
}
.cedulas{
  width: 100%;
  height: 10%;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nota{
  position: absolute;
  scale: 0.9;
  height: 120px;
  margin: 12px;
  transition: all ease 1s;
}
img[name= '2']{
  left: var(--distancia);
}
img[name= '5']{
  left: calc(var(--distancia)*4);
}
img[name= '10']{
  left: calc(var(--distancia)*7);
}
img[name= '20']{
  left: calc(var(--distancia)*10);
}
img[name= '50']{
  left: calc(var(--distancia)*13);
}
img[name= '100']{
  left: calc(var(--distancia)*16);
}
.nota:hover{
  cursor: pointer;
  scale: 1;
}
.espaco_notas{
  width: 100%;
  height: 80%;
  display: flex;
}